*{margin: 0; padding: 0; box-sizing: border-box; background-color: #eeeeee; font-family: sans-serif; }
iframe{border-width: 0px;}

/*header*/
header{width: 75%; margin: 0 auto;}
#logo{width: 378px; height: 185px; margin-top:10px;display: block; margin-left: auto; margin-right: auto;}

/*section*/
section{width: 75%; margin-top: 10px; margin-left: auto; margin-right: auto;}
#header_text{color: #0080ca; font-size: 24px; text-align: center;}
#btn_wrap{width: 50%; margin: 0 auto;}
#game_btn{width: 15%;}
#vr_btn{width: 15%;}
#space_btn{width: 15%;}
#iot_btn{width: 15%;}
#game_text{color: #ee155a;}
#vr_text{color: #9c258d;}
#space_text{color: #f8aa3a;}
#iot_text{color: #01abb8;}
#video{width: 1000px; height: 300px; margin-left: 200px;}

/*footer*/
footer{width: 100%; margin-top: 10px; margin-left: auto; margin-right: auto;}
#ft_img{display:block; margin: 0 auto;}