#iot_wrap{position: absolute; top: 50%}

#iot_wrap .iot_left_img{width: 50%; float: left;}

#iot_wrap .iot_contents_wrap{width: 49%; float: right; margin-right: 1%;}

#iot_wrap .iot_all_wrap{width:100%; margin-top:3%; overflow: hidden;}

#iot_wrap .iot_title_wrap{width:19%; float: left; text-align: right; color: #01abb8;}
#iot_wrap .iot_all_wrap:nth-child(1)>.iot_title_wrap, #iot_wrap :nth-child(6)>.iot_title_wrap{color: #000000;}

#iot_wrap .iot_text_wrap{width: 79%; float: right;}

#iot_wrap .iot_btn_wrap{width: 100%; margin-top: 1%; float: left; text-align: center;}
#iot_wrap .iot_btn_wrap > img{width: 15%; cursor: pointer;}
#iot_wrap .iot_btn_wrap > img:nth-child(1){margin-right: 1%;}
#iot_wrap .iot_btn_wrap > img:nth-child(2){margin-left: 1%;}