*{margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;}
body,html{width:100%; background-color: #eeeeee; font-size: 100%;}
li{list-style: none;}
p{font-weight: bold;}

@keyframes slide-to-right{
    from{left : 0;}
    to{left:100%}
}
@keyframes slide-to-left{
    from{left : 0;}
    to{left:-100%}
}

@keyframes slide-to-middle{
    from{left : -100%;}
    to{left:0}
}
@keyframes slide-to-middle2{
    from{left : 100%;}
    to{left:0}
}

/*header*/
header{width: 100%; margin-top: 1%;}
.back_wrap{width: 25%; float: right}
.on_back{width: 25%; float: left; text-align: center;}
.on_back_img{width: 79%;}
#back_text_1{color: #ee155a;}
#back_text_2{color: #9c258d;}

/*section*/
section{width: 75%; margin-top: 1%; margin-left: auto; margin-right: auto; clear: both;}
.logo{width: 15%; display: block; margin: 0 auto;}
#on_intro{text-align: center; color: #3c6dc2; font-size: 1.25rem; line-height: 175%; margin-top: 1%;}

#on_pf_wrap{width: 75%; margin-top: 1%; margin-left: auto; margin-right: auto;}
.pf_wrap{width: 50%; text-align: center;}
#pf1{float: left;}
#pf2{float: right;}
.imgs{width: 50%;}

/*footer*/
footer{width: 100%; margin-top: 1%; margin-left: auto; margin-right: auto; clear: both}
.footer{display:block; margin: 0 auto;}