*{margin: 0; padding: 0; font-family: sans-serif; box-sizing: border-box;}
body,html{width:100%; font-size: 100%; background-color: #eeeeee;}
a{text-decoration: none;}

/*header*/
#root_wrap header{width: 100%; margin-top: 1%;}
#root_wrap .back_wrap{float: right; text-align: center;}
#root_wrap #root_back_img{width: 15%;}
#root_wrap #root_back_text{color: #01abb8;}

/*section*/
#root_wrap section{width: 75%; margin-top: 1%; margin-left: auto; margin-right: auto; clear: both;}
#root_wrap .logo{width: 15%; display: block; margin: 0 auto;}
#root_wrap #video_wrap{width: 75%; margin: 0 auto;}
#root_wrap .hack_wrap{width: 33.33%; float: left; text-align: center;}
#root_wrap .hack_wrap > p{color: #2bb673; font-size: 1.25rem; margin-bottom: 1%;}
#root_wrap .root_video{width: 75%; height:200px; border-width: 0px;}
#root_wrap #kakao_wrap{width: 75%; margin-top: 1%; margin-left: auto; margin-right: auto;}
#root_wrap .kakao{width: 33.33%; float: left; text-align: center;}
#root_wrap .kakao > a > img{width: 75%;}



/*footer*/
#root_wrap footer{width: 100%; margin-top: 1%; margin-left: auto; margin-right: auto; clear: both}
#root_wrap .footer{display:block; margin: 0 auto;}