*{margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }
body, html{width:100%;}

#space_wrap{position: relative; top:calc(50% - 300px); height:600px;}
.space_contents_wrap{width:40%; float: left;}
.space_left_img{height:600px; float: left; width:60%;}
.space_text_wrap{width:80%; float: left; font-size:14px; margin-bottom:4px;}


.space_all_wrap{width:100%; overflow: hidden; margin-top:20px;}
.space_all_wrap:nth-child(1){height:85px;}
.space_all_wrap:nth-child(2){height:60px;}
.space_all_wrap:nth-child(3){height:70px;}
.space_all_wrap:nth-child(4){height:80px;}
.space_all_wrap:nth-child(5){height:40px;}


.space_title_wrap{width:15%; float: left; padding-right:10px; text-align: right; font-size:14px; color: #01abb8;}
.space_all_wrap:nth-child(1) .space_title_wrap{color:black;}
.space_all_wrap:nth-child(5) .space_title_wrap{color:black;}

.space_bar{width:0.8%; background-color: #01abb8; height:100px; float: left; margin-right:10px;}
.space_all_wrap:nth-child(1) .space_bar{background-color: gray;}
.space_all_wrap:nth-child(5) .space_bar{background-color: gray;}

.space_btn_wrap{margin-top:40px;}
.space_main_btn{width:150px; margin-left:140px;}
.space_ss_btn{width:150px; margin-left:120px;}