*{margin:0; padding:0; box-sizing: border-box; background-color:#eeeeee; font-family:sans-serif; background-color: #eeeeee;}

/*header*/
header{width:1000px; height:300px; margin:0 auto;}
#back_img{ position:absolute; width:150px; height:150px; margin-left:1250px; margin-top:-30px;}
#back_text{position: absolute; margin-left:1300px; margin-top:130px; color:orange;}
#logo{margin-top:50px;}
#ss_logo{display:block; margin-left:auto; margin-right:auto;}

/*section*/
section{width:1000px; height:600px; margin:0 auto;}
#text_sswrap{color:#488bed; width:1000px;}
.text_ss{text-align: center; font-size:18px;}

#text_pf{color:#488bed; font-size:42px; text-align: center;}

#pf_wrap{width:1500px; height:350px; margin-top:50px; margin-left:-150px;}
.imgs{width:400px; height:250px; opacity:0.6;}
#check{display: inline-block; background-color: black;}
#check_text{color:#488bed; background-color: white; width: 400px; text-align: center; margin-left:-150px; margin-top:-95px; height:65px;}

#map{display: inline-block; margin-left:50px; background-color: black;}
#map_text{color:#488bed; background-color: white; width: 400px; text-align: center; margin-left:305px; margin-top:-65px;}

#bus{display: inline-block; margin-left:50px; background-color: black;}
#bus_text{color:#488bed; background-color: white; width: 400px; text-align: center; margin-left:760px; margin-top:-65px;}