#vr_wrap{position: absolute; top: 50%}

#vr_wrap .vr_left_img{width: 50%; float: left;}

#vr_wrap .vr_contents_wrap{width: 49%; float: right; margin-right: 1%;}

#vr_wrap .vr_all_wrap{width:100%; margin-top:3%; overflow: hidden;}

#vr_wrap .vr_title_wrap{width:19%; float: left; text-align: right; color: #9c258d;}
#vr_wrap .vr_all_wrap:nth-child(1)>.vr_title_wrap, #vr_wrap :nth-child(5)>.vr_title_wrap{color: #000000;}

#vr_wrap .vr_text_wrap{width: 79%; float: right;}

#vr_wrap .vr_btn_wrap{width: 100%; margin-top: 1%; float: left; text-align: center;}
#vr_wrap .vr_btn_wrap > img{width: 15%; cursor: pointer;}
#vr_wrap .vr_btn_wrap > img:nth-child(1){margin-right: 1%;}
#vr_wrap .vr_btn_wrap > img:nth-child(2){margin-left: 1%;}